.video-section {
    margin-top: 2rem;
    width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
}

@media (max-width:1000px) {
    .video-section {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width:500px) {
    .video-section {
        top: 0;
    }
}