header {
    position: fixed;
    width: 100%;
    padding: 7px 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0F0F0F;
    z-index: 10000;
}

.logo {
    width: 90px;
}

.logo-section,
.search-section,
.profile-section {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

.search-section {
    position: relative;
}

.profile-section {
    gap: 1.5rem;
}

.profile-section img {
    width: 40px;
    border-radius: 50%;
}


.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #4d4c4c;
    width: 590px;
    height: 40px;
    padding: 0 1.4rem 0 1rem;
    border-radius: 2rem;
}

.search-bar input {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1rem;
    background: #0F0F0F;
    color: #eeee;
    height: 100%;
}


.search-items {
    display: none;
    position: absolute;
    top: 120%;
    background-color: #202020;
    width: 540px;
    border-radius: .6rem;
    padding: 1rem 0 .7rem;
}

.search-items a:hover {
    text-decoration: underline;
}

.search-items a {
    text-decoration: none;
    color: rgb(54, 170, 216);
    font-size: 13px;
}

.search-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: .4rem 1rem;
}

.open {
    display: block;
}

.hide {
    display: none;
}

.search-item:hover {
    background-color: #4d4c4c;
}

.search-text {
    display: flex;
    align-items: center;
    gap: .9rem;
    font-weight: 600;
}

.search-text svg {
    font-size: 1.5rem;
}

.profile-section .icon,
.profile-section .search-show {
    display: none;
}

.mic {
    height: 40px;
    width: 40px;
    background: #222;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-section svg {
    font-size: 1.5rem;
}

.profile-section svg {
    font-size: 1.4rem;
}

@media (max-width:1041px) {
    .search-bar {
        width: 450px;
    }
}

@media (max-width:861px) {
    .search-bar {
        width: 350px;
    }
}

@media (max-width:750px) {
    .search-bar {
        width: 270px;
    }

    .search-items {
        width: 500px;
    }
}

@media (max-width:680px) {
    .search-items {
        width: 400px;
    }
}

@media (max-width:650px) {
    .search-section {
        display: none;
    }

    .search-bar svg {
        display: none;
    }

    .mic {
        display: none;
    }

    .profile-section {
        gap: 1rem;
    }

    .profile-section .icon {
        display: block;
    }

    .profile-section i {
        font-size: 1.4rem;
    }
}

@media (max-width:500px) {
    .header-hide {
        display: none;
    }

    header {
        padding: 14px .8rem;
    }

    .profile-section img,
    .profile-section .video-icon {
        display: none;
    }

    .profile-section .icon {
        display: none;
    }

    .profile-section .search-show {
        display: block;
    }

    .profile-section {
        gap: .8rem;
    }
}

@media (max-width:450px) {
    .logo-section svg {
        display: none;
    }

    .search-text p {
        font-size: 17px;
    }

    .logo-section.none {
        display: none;
    }

    .search-section.show {
        display: block;
    }

    .search-text {
        gap: 1.1rem;
        font-weight: 500;
    }

    .search-bar {
        height: 35px;
        width: 330px;
    }

    .search-items {
        left: -14px;
        border-radius: .2rem;
        width: 430px;
    }
}

@media (max-width:400px) {
    .search-items {
        width: 365px;
    }

    .search-bar {
        width: 270px;
    }
}